// Custom styles.

/**
 * 小代码块样式
 */
code {
  color: #ff7600;
  background: #fbf7f8;
  margin: 2px;
}

// 大代码块的自定义样式
.highlight, pre {
  margin: 5px 0;
  padding: 5px;
  border-radius: 3px;
}

.highlight, code, pre {
  border: 1px solid #d6d6d6;
}

/**
 * 超链接样式
 */
.post-body p a{
  color: #0593d3;
  border-bottom: none;
  border-bottom: 1px solid #0593d3;
  &:hover {
    color: #fc6423;
    border-bottom: none;
    border-bottom: 1px solid #fc6423;
  }
}

/**
 * 网站logo标题
 */
.custom-logo-site-title a {
  border-radius: 5px;
  text-transform: uppercase;
}

// 阅读全文按钮
.post-button a.btn {
  border-radius: 3px;
}